@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

.container {
  max-width: 1440px;
  margin: auto;
  background: #080a19;
}

.header {
  background: url('../public/bg1.png') center center no-repeat;
  background-size: cover;
}

.menu {
  display: flex;
  align-items: center;
  margin-left: 2rem;
  padding-top: 2rem;
  font-family: 'Inter', sans-serif;
  font-weight: 300;

}

.menu ul {
  display: flex;
  padding: 2rem;
  list-style: none;
}

.menu a {
  padding: 20px;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  /* border: 1px solid red; */
}

.slogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  font-family: 'Russo One', sans-serif;
  color: #fff;

}

.slogan h1 {
  margin-top: 15rem;
  font-size: 5em;
  font-weight: 400;
}

.slogan h2 {
  font-family: 'Inter', sans-serif;
}

.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 588px;
  /* padding: 5rem; */
  background: url(../public/bg2.png) center center no-repeat;
  background-size: cover;

}

.titleCenter {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

.titleRose {
  font-family: 'Russo One', sans-serif;
  font-size: 26px;
  margin: 0 1rem;
  font-weight: 400;
  color: #FF2FFF;
}

.title {
  font-family: 'Russo One', sans-serif;
  font-size: 26px;
  margin: 0 1rem;
  font-weight: 400;
  color: #FFF;
}

.swiper {
  width: 100%;
  background: transparent;
}

.swiperSlide {

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiperPaginationBullet {
  width: 50px;
  height: 50px;
}

.servicesSquares {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 300px;
  background-color: #17182B;
}

.servicesSquares span {
  font-family: 'Russo One', sans-serif;
  font-size: 26px;
  color: #fff;
}

.servicesSquares p {
  padding: 1rem;
  font-family: 'Inter', sans-serif;
  text-align: center;
  font-size: 20px;
  color: #ABACBF;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  height: 222px;
  /* padding: 5rem; */
  background: url(../public/bg2.png) center center no-repeat;
  background-size: cover;
}

.carousel {
  width: 90vw;
  margin-top: 2rem;
}

/* .client {} */

.ourClents {
  margin-top: 2rem;
}

.duck {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 340px;
  background: url(../public/bg3.png) center center no-repeat;

  background-size: cover;
}

.duck p {
  font-family: 'Inter', sans-serif;
  font-size: 30px;
  text-align: center;
  margin: 0 16rem;
  margin-top: 2rem;
  color: #fff;
}

.faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 610px; */
  background: url(../public/bg4.png) center center no-repeat;

  background-size: cover;
}

.accordion {
  margin-top: 3rem;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  background: url(../public/bg6.png) center center no-repeat;
  background-size: cover;
}

.social {
  display: flex;
  margin-top: 1rem;
}

.squareInsta {
  width: 73px;
  height: 73px;
  margin: 1rem;
  background: url(../public/insta.svg) center center no-repeat;
  background-size: cover;
}

.squareLinked {
  width: 73px;
  height: 73px;
  margin: 1rem;
  background: url(../public/linkedin.svg) center center no-repeat;
  background-size: cover;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 5rem;
}

.form label {
  font-family: 'Russo One', sans-serif;
  font-weight: 300;
  margin: 1rem 0;
  color: #FFF;
}

.input {
  width: 900px;
  padding: 2rem 1rem;
  background: #17182B;
  border: none;
  font-family: 'Inter', sans-serif;
  color: #FFF;
}

.form textarea {
  font-family: 'Inter', sans-serif;
  color: #FFF;
  background: #17182B;
  padding: 2rem 1rem;
  border: none;
  resize: none;
}

.buttonArea {
  display: flex;
  justify-content: center;
}

.button {
  width: 250px;
  height: 70px;
  margin-top: 2rem;
  font-size: 18px;
  font-family: 'Russo One', sans-serif;
  color: #17182B;
  background: #00FFE5;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  padding: 5rem;
  color: #FFF;
}

.footer p {
  margin-top: 1rem;
}



@media screen and (max-width: 420px) {}